@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

pre.poetry {
  font-size: 1.2rem;
  font-family: biro_script_standardRgus;
  border: none;
  padding: 0;
  position: unset;
}



